<nav>
    <!-- Do not forget to change the path to the image -->
    <img src="/static/img/logo.png" alt="logo">

    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/post/all-posts">All Posts</a></li>
        <!-- Logged users -->
        {{#if user}}
            <li><a href="/post/create">Create Post</a></li>
            <li><a href="/post/{{user._id}}/my-posts">Posts of {{user.email}}</a></li>
            <li><a href="/user/logout">Logout</a></li>
        <!-- Guest users -->
        {{else}}
            <li><a href="/user/register">Register</a></li>
            <li><a href="/user/login">Login</a></li>
        {{/if}}
    </ul>

</nav>